
// START: NEW TEAM CSS

body {
  margin: 0;
}
.main {
  width: 800px;
  height: 800px;
  margin: 100px 0 0 370px;
}

.newtop {
  width: 800px;
  height: 50px;
  position: absolute;
  margin: -80px 0 0 -120px;

}

.des {
float: left;

}

.hone {
float: left;
}

.line {
  width: 820px;
  position: absolute;
  margin: 0 400px 0 240px;
  left: 20px;
}


p.des {
  margin: -45px 350px 0 0;
  float: right;
  color: #767676;
}

.topbox {
  width: 700px;
  height: 30px;
}

.bottombox {
  width: 700px;
  height: 30px;
}

.textone {
  color: #858585;
}

.input {
  width: 80px;
  height: 50px;
}

.newteam {
  width: 150px;
  position: absolute;
  margin: 132px 0 0 260px;
}

.teamname {
  width: 150px;
  position: absolute;
  margin: 25px 0 0 260px;
}

h2 {
  font-size: medium;
}

h3 {
  font-size: medium;
}

// END: NEW TEAM CSS


// START: Team Edit CSS

.image {
  width: 200px;
  margin: 0 10px 20px 0;
}

.des {
  position: absolute;
  font-size: 3rem;
  font-weight: 900;
  margin: 0 0 0 0;
}

.descriptiontd {
  padding: 0 -20px 0 0;
  margin: 0 200px 0 0;
}



.main {
  width: 800px;
  margin: 0 auto;

}

.fa.fa-times-circle {
  position: absolute;
  color: #DC143C;
  font-size: 2rem;
  margin: -100px 0 0 0;
}

.title {
  font-size: 3rem;
  font-family: helvetica;
  margin: 0 0 20px 312px;
  color: #313131;
}

.line {
  margin: 0 0 20px 296px;
}


.textfield {
  width: 500px;
  height: 30px;
  margin: 0 0 0 202px;
}

.button {
  margin: 0 0 0 20px;
}

.paragraph {
  color: #A1A1A1;
  margin: 5px 0 40px 200px;
  width: 400px

}

.htwo {
  width: 80px;
  margin: -30px 0 0 100px;
  position: absolute;
}

.teamlist {
  color: #3078B5;
  text-decoration: none;
  font-size: 2rem;
  margin: 0 0 0 0;
}

.show {
  width: 320px;
  margin: 0 0 0 0;
  float: left;
  font-size: 2rem;
}

// END: Team Edit Edit CSS

// START: Teams Edit CSS
.maintwo {
  width: 800px;
  margin: 0 auto;
}

.teamstitle {
  font-size: 3rem;
  width: 190px;
  margin: 0 0 0 0;
  float: left;
}

.alllist {
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
}

.usercreated {
  position: absolute;
  margin: 25px 0 0 180px;
  width: 350px;
  float: left;
  color: #878787;
}

.buttonnewteam {
  float: right;
  margin: 20px 0 0 0;
}

// END: Teams CSS

// Start: Teams CSS


.mainthree {
  width: 800px;
  margin: 0 auto;
}

.yourteam {
  float: left;
  margin: 0 0 0 0;
  font-size: 2rem;
}

.imagethree {
  width: 200px;
  margin: 0 10px 20px 0;
}
