
<h4 class="title"> Edit Your Team </h3>

<hr class="line">

<br>





<div class="main">

  <form class="textbox" ng-hide="editCtrl.heroes.length >= 6">
    <input class="textfield" type="text" placeholder="Character" ng-model="editCtrl.newHeroName">
    <input class="button" type="submit" value="Add Hero" ng-click="editCtrl.addCharacter()">
  </form>

  

  <p class="paragraph"> Which hero do you want to add to your team? </p>

  <div ng-show="editCtrl.heroes.length >= 6">
    <a ui-sref="teams">
      Go back to the team list
    </a>
  </div>



  <table>
    <tbody>

      <tr ng-repeat="character in editCtrl.heroes">

        <td class="imagetd">
          <img class ="image" ng-src="{{ character.image }}">
        </td>

        <td class="des">
          {{ character.name }}
        </td>

        <td class="descriptiontd">
          {{ character.description }}
        </td>




        <td class="ex">
          <i class="fa fa-times-circle" ng-click="editCtrl.deleteCharacter(character)"></i>
        </td>
      </tr>
    </tbody>
  </table>

</div>
