




<div class="mainthree">

  <h1 class="theavengers"> {{ this.team }} </h1>
  <p class="barket"> {{ this.heroes }}</p>

  <hr>

  <br>

  <h2 class="yourteam"> Your Team? </h2>

  <a class ="editit" ui-sref="edit_team({ id: teamCtrl.id })">
    Edit it!
  </a>

  <br>
  <br>
  <br>



  <table>
    <tbody>

      <tr ng-repeat="character in teamCtrl.heroes">

        <td class="imagetd">
          <img class ="imagethree" ng-src="{{ character.image }}">
        </td>

        <td class="des">
          {{ character.name }}
        </td>

        <td class="descriptiontd">
          {{ character.description }}
        </td>





      </tr>
    </tbody>
  </table>
</div>
